$font: 'Franklin Gothic Medium';
$fontSize: 18px;
$padding: 1rem;
$margin: 1rem;
$mainColor: #AADBE4;
$textTransform: capitalize;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('../public/img/ales-nesetril-Im7lZjxeLhg-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1010px;
    font-family: $font;
    .container {
        padding: $padding 0 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .links ul {
            display: flex;
            align-items: center;
            margin: $margin - 1;
            width: max-content;
        }
        .logo img{
            width: 25%;
        }
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $mainColor;
        position: relative;
        top: 8rem;
        text-transform: $textTransform;
        .welcome {
            font-size: $fontSize + 82;
        }
        .name {
            font-size: $fontSize + 32;
        }
    }
}

ul {
    .link {
        list-style: none;
        padding: $padding - 0.5;
        margin: 0 $margin;
        a {
            font-size: $fontSize;
            text-decoration: none;
            color: whitesmoke;
            text-transform: $textTransform;
        }
    }
}

main {
    height: 30vh;
    background-color: $mainColor;
}